  /* Styles for the dialog */
  #stopbadbots_import-dialog {
    display: none;
    position: fixed;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%; /* Adjust the width as per your preference */
    max-width: 600px; /* Adjust the maximum width as needed */
    background-color: yellow;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    padding: 20px;


  }

  /* Styles for the dialog title */
  #stopbadbots_import-dialog h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
  }

  /* Styles for the import rows */
  #stopbadbots_import-dialog p {
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
  }
  

  /* Styles for the spinning icon (Replace with your actual spinner icon) 
  .spinner {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    border-top: 2px solid #000;
    animation: spin 1s linear infinite;
  }

  /* Spinning animation 
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  */